.img1{
    width: 247px;
    height: 259px;
border-radius: 20px 0px 0px 0px;

}
.img2{
    width: 288px;
height: 346px;
top: 258px;
left: 386px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
opacity: 0px;

}
.img3{
    width: 521px;
    height: 346px;
    top: 664px;
    left: 163px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}
.img4{
    width: 542px;
    height: 346px;
    top: 664px;
    left: 735px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}
